<!DOCTYPE html>
<html ng-app= "app"  >
<head>
    <title>Hello World</title>

</head>
<body ng-controller = "IndexController">

    Write some text in textbox:
    <input type="text" ng-model="sometext" />
    <h1>Hello {{ user }}</h1>
    {{sometext}}

</body>


